<h1>List of photos</h1>

<>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>
  <% @list_of_photos.each do |a_photos| %>
  <tr>
    <td>
      <img src="<%= a_photos.image %>">
    </td>

    <td>
      <%= a_photos.caption %>
    </td>

    <td>
      <%= a_photos.poster.username %>
    </td>

    <td>
      <%= a_photos.created_at %>
    </td>

    <td>
      <a href="/photos/<%= a_photos.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
